<html>
    <body>
        <div class='row ml-5'>
        <form action="/admin/add-product" method="POST" enctype="multipart/form-data">
            <label>NAME</label>
            <input type="text" name="name"><br>
            <label>PRICE</label>
            <input type="text" name="price"></br>
            <label>CATOGORY</label>
            <input type="text" name="category"> ,<br>
            <input type="file" name="image"> 
        
            <br>
            <button type="submit" class="btn btn-success mt-4">Submit</button>
        </form>
        </div>
    </body>
</html>